
<form class="create-form container-fluid" role="form" ng-submit="$ctrl.createTask($ctrl.newTask)" novalidate>
    <div class="form-group">
        <label for="newTaskDefinition">Task definition</label>
        <input type="text" class="form-control" id="newTaskDefinition" ng-model="$ctrl.newTask.definition" placeholder="Enter definition">
    </div>
    <div class="form-group">
        <label for="newTaskExplanation">Task explanation</label>
        <input type="text" class="form-control" id="newTaskExplanation" ng-model="$ctrl.newTask.explanation" placeholder="Enter explanation">
    </div>
    <button type="submit" class="btn btn-info btn-lg">Create</button>
    <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.cancelCreating()">Cancel</button>
</form>
