
<!--    <h4>Editing: {{editTaskCtrl.task.definition}}</h4>-->
    <form class="edit-form container-fluid" role="form" ng-submit="$ctrl.updateTask($ctrl.editedTask)" novalidate>
        <div class="form-group">
            <label>Task definition</label>
            <input type="text" class="form-control"  ng-model="$ctrl.editedTask.definition" placeholder="Enter definition">
        </div>
        <div class="form-group">
            <label>Task explanation</label>
            <input type="text" class="form-control"  ng-model="$ctrl.editedTask.explanation" placeholder="Enter explanation">
        </div>
        <button type="submit" class="btn btn-info btn-lg">Save</button>

        <button type="button" class="btn btn-primary btn-sm" ng-click="$ctrl.cancelEditing()">Cancel</button>
    </form>
